@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  width: 180px;
  height: 180px;
}
.sidebar{
  background-image: url('../public/assets/hexagon-side-bar.svg');
  background-color: #4658AC;
  background-repeat: no-repeat;
  background-size: cover;

}
.shadoww{
  box-shadow: 0 2px 18px rgba(0, 0, 0, .02);
  border: .0625rem solid rgba(46, 54, 80, .125);
  border-color: #eaedf2;
}
