@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  font-family: "Nunito Sans", sans-serif;
}
.logo {
  width: 180px;
  height: 180px;
}
.sidebar{
  background-image: url('../public/assets/hexagon-side-bar.svg');
  background-color: #4658AC;
  background-repeat: no-repeat;
  background-size: cover;

}
.shadoww{
  box-shadow: 0 2px 18px rgba(0, 0, 0, .02);
  border: .0625rem solid rgba(46, 54, 80, .125);
  border-color: #eaedf2;
}
.analitics-btn, .doghnout-btn {
  @apply  text-xs p-2 font-semibold transition-all  hover:bg-light-blue-50 hover:text-darkblue border-light-blue-50 hover:border-darkblue-50 rounded-md border-solid border-[2px];
}
.active-doghnout-btn, .active-analitics-btn {
  @apply bg-darkblue text-white border-darkblue hover:bg-darkblue hover:text-white hover:border-darkblue;
}


.rbc-month-row, .rbc-timeslot-group{
  display: inline-table !important;
  flex: 0 0 0 !important;
  min-height: 50px !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: rgb(15 23 42 / 0.9);
  color: #fff;
  text-align: center;
  padding: 6px 0;
  border-radius: 6px;
  top: 40px;
  left: -60px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }