@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  font-family: "Nunito Sans", sans-serif;
}
.logo {
  width: 180px;
  height: 180px;
}
.sidebar{
  background-image: url('../public/assets/hexagon-side-bar.svg');
  background-color: #4658AC;
  background-repeat: no-repeat;
  background-size: cover;

}
.shadoww{
  box-shadow: 0 2px 18px rgba(0, 0, 0, .02);
  border: .0625rem solid rgba(46, 54, 80, .125);
  border-color: #eaedf2;
}
.analitics-btn, .doghnout-btn {
  @apply  text-xs p-2 font-semibold transition-all  hover:bg-light-blue-50 hover:text-darkblue border-light-blue-50 hover:border-darkblue-50 rounded-md border-solid border-[2px];
}
.active-doghnout-btn, .active-analitics-btn {
  @apply bg-darkblue text-white border-darkblue hover:bg-darkblue hover:text-white hover:border-darkblue;
}